td { padding: 0.5em 1em }
body { margin: 0; padding: 0 }
.error { color: red }
table { border-collapse: collapse; margin: 1em }
th { background-color:aliceblue; padding: 0.4em 0; }
td, th { border: solid 1px lightblue }
h1 { color: white; background: lightskyblue; margin: 0; padding: 0.5em }
p { margin: 1em }